[submodule "audio/--force"]
	path = audio/--force
	url = https://github.com/kkbankol-ibm/snowboy.git
[submodule "audio/snowboy"]
	path = audio/snowboy
	url = https://github.com/kkbankol-ibm/snowboy.git
